{{log item}}
<h2 class="detail-name">{{item.name}}</h2>
<h3 class="detail-class">Class: {{item.class}}</h3>
<h4 class="detail-module">Module: {{item.module}}</h4>
<h4 class="detail-submodule"> Submodule: {{item.submodule}}</h4>
<b>Description:</b>
<p class="detail-desctiption">{{{markdown-text item.description}}}</p>
<b>Params:</b>
<ul class="detail-params">
  {{#each param in item.params}}
  <li class="detail-param">
    <span class="param-type">{{param.type}}</span> <span class="param-name">{{param.name}}</span> <span class="param-description">{{param.description}}</span>
  </li>
  {{/each}}
</ul>
<b>Return:</b>
<p class="detail-return-type">{{item.return.type}}</p>
<p>{{item.return.description}}</p>
